# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build files
dist/
build/

# Vite local files
.vite/

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/